{% load staticfiles %}
<html>

    <head>
        <title>Mik's blog - a django experiment</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>   
    </head>

    <body>
        
        <div class = "page-header">
            <h1><a href="{% url 'post_list' %}">Mik's Blog</a></h4>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <p> Hello, {{ user.username }}  &nbsp; &nbsp; &nbsp; <small><a href="{% url 'django.contrib.auth.views.logout' %}">logout</a></small> </p>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <p>powered by django</p>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
    
    </body>




</html>